<odoo>
    <menuitem id="menu_xalaeco_root" name="XALA ECO" sequence="1"/>

    <menuitem id="menu_xalaeco_dashboard"
              name="Dashboard"
              parent="menu_xalaeco_root"
              action="action_xalaeco_dashboard"
              sequence="1"/>

    <menuitem id="menu_xalaeco_customer"
              name="Khách hàng"
              parent="menu_xalaeco_root"
              action="action_xalaeco_customer"
              sequence="2"/>

    <menuitem id="menu_xalaeco_contract"
              name="Hợp đồng"
              parent="menu_xalaeco_root"
              action="action_xalaeco_contract"
              sequence="3"/>

    <menuitem id="menu_xalaeco_revenue_root"
              name="Doanh thu"
              parent="menu_xalaeco_root"
              sequence="4"/>

    <menuitem id="menu_xalaeco_billing"
              name="Kỳ thu phí"
              parent="menu_xalaeco_revenue_root"
              action="action_xalaeco_billing"
              sequence="1"/>

    <menuitem id="menu_xalaeco_payment"
              name="Thanh toán QR"
              parent="menu_xalaeco_revenue_root"
              action="action_xalaeco_payment"
              sequence="2"/>

    <menuitem id="menu_xalaeco_debt"
              name="Công nợ"
              parent="menu_xalaeco_revenue_root"
              action="action_xalaeco_debt"
              sequence="3"/>

    <menuitem id="menu_xalaeco_revenue_report"
              name="Báo cáo doanh thu"
              parent="menu_xalaeco_revenue_root"
              action="action_xalaeco_revenue_report"
              sequence="4"/>
</odoo>